{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game store</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stile.css' %}">
</head>
<body>

<header>
    {% block header %}
    <h1>Главная страница</h1><br>
    {% endblock %}
</header>

{% block navigation %}
<h3>Меню навигации:</h3>
<a href="/">Главная</a>
<a href="/store/">Каталог</a>
<a href="/buy/">Корзина</a>
<a href="/platform/news/">Новости</a>
{% endblock %}

{% block catalog %}
<h2>{{ head_list }}</h2>
{% if games %}

{% for game in games %}
{{ game }}|{{ game.description }}| Стоимость: {{ game.cost }}
<button>В корзину</button>
<br>
{% endfor %}

{% else %}
Товары отсутствуют.
{% endif %}

{% endblock %}


{% block content %}
<hr>
{% for new in page_news %}
<h2>{{ new.title }}</h2>
<br>
{{ new.content }}
<br>
<small style="float: right; margin-right: 20px;">{{ new.date }}</small>
<hr>
{% endfor %}

<div class="pagination">
        <span class="step-links">
            {% if page_news.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ news.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_news.number }} из {{ page_news.paginator.num_pages }}.
            </span>

            {% if page_news.has_next %}
                <a href="?page={{ page_news.next_page_number }}">Следующая</a>
                <a href="?page={{ page_news.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
</div>
{% endblock %}


<footer>
    {% block footer %}
    <br>__________________________________
    <p> Служба моральной поддержки:
        <br>8-800-000-00-00</p>
    {% endblock %}
</footer>

</body>
</html>